{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> Deeply traditional yet endlessly surprising, India is one of those destinations that ends up on every traveler's bucket list at some point.</p>
        <p class="card-text"> I am Jaimin Prajapati, I Have Travelled to all the Places and i am still Exploring, Comeback to check my Blog- You will enjoy it </p>
    </div>
</div>
</div>

{% endblock sidebar %}